/* FavoritePage.css */

.favorite-books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%; /* Ensures the container takes full height */
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

/* Additional styles can be added as needed */

@media screen and (max-width:1199px) {

    .banner-search {
        min-height: 40vh;
    }
}