.banner {
    width: 100%;
    min-height: 70vh;
    background-image: url(../assets/banner1.png);
    background-size: cover;
    background-position: 69%;
}

.banner-text {
    padding-top: 250px;
    text-align: center;
    color: #ffffff;
}

.banner-text h2 {
    text-transform: capitalize;
    font-size: 48px;
}

.banner-text p {
    padding: 0 5px;
}

@media screen and (max-width:1199px) {

    .banner {
        min-height: 40vh;
    }
}

@media screen and (max-width:992px) {
    .banner {
        min-height: 50vh;
    }
}

@media screen and (max-width:766px) {
    .banner-text h2 {
        font-size: 24px;
    }
    .banner-text p {
        font-size: 12px;
    }
}